*{
  margin: 0;
  padding: 0;
}
body{
  text-align: center;
}
.box{
  width: 240px;
  height: 660px;
  border: 10px solid rgba(123, 123, 123,0.5);
  margin: 250px auto;
}
.box1{
  border-bottom: 5px solid  rgba(123, 123, 123,0.5);
}
.box2{
  border-top: 5px solid  rgba(123, 123, 123,0.5);
}
#top1, #top2{
  text-align: center;
  width: 75px;
  margin: 0 auto; 
  color: white;
}
#top1{
  background-color:  rgba(254, 171, 29, 0.7);
}
#top2{
  background-color: skyblue;
}
#txt1, #txt2{
  height: 60px;
}
.wenzi1, .wenzi2{
  
}
p{
  color: rgba(254, 171, 29, 0.7);
}