*{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  a{
    color: #000;
    text-decoration: none;
  }
  #box{
    width: 322px;
    height: 250px;
    border: 2px solid #ccc;
    margin: 100px auto;
    position: relative;
  }
  .left, .right{
    width: 60px;
    height: 250px;
    float: left;
  }
  .cetent{
    width: 200px;
    height: 250px;
    float: left;
    overflow: hidden;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
  li{
    line-height: 27px;
    /* text-align: center; */
    
  }