*{
    margin: 0;
    padding: 0;
  }
  #box{
    position: relative;
    width: 250px;
    height: 250px;
    background: url("../images/clock.jpg") no-repeat;
    background-size: cover;
  }
  #hour, #min, #second{
    position: absolute;
    /* left: 50%; */
    /* top: 0; */
    width: 30px;
    height: 600px;
    margin-left: 115px;
    margin-top: -170px;
    background-size: cover;
  }
  #hour{
    background: url("../images/hour.png") no-repeat;
  }
  #min{
    background: url("../images/minute.png") no-repeat;
  }
  #second{
    background: url("../images/second.png") no-repeat;
  }